$white: #f8f9fd;
$black: #2a2d3b;
$bluey-gray: #9198af;
$pale-grey: #e4e7f4;


$purple: #8A4D76;
$pink: #fa7268;
$carrotorange: #F18F01;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;