$white: #f8f9fd;
$white-two: #fff;
$black: #2a2d3b;
$bluey-grey: #9198af;
$pale-grey: #e4e7f4;
$light-yellowish-green: #dbff90;
$very-light-pink: #fff3f2;



$purple: #8A4D76;
$pink: #fa7268;
$carrotorange: #F18F01;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;