@charset "utf-8";
@import 'variables';
@import "~bulma/sass/utilities/_all";

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$info: $carrotorange;
$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$navbar-background-color: $white;
$body-background-color: $white;
$input-background-color: $pale-grey;
$input-color: $black;

// table variables
$table-background-color: #fff;
$border: #e1e1e1;
$table-row-hover-background-color: #fff3f2;
$table-row-active-color: #fff3f2;
$table-head-cell-color: $bluey-grey;

$weight-light: 400;

$navbar-padding-vertical: 2rem;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// @import "../../node_modules/bulma/bulma.sass";
@import "~bulma";
@import "~buefy/src/scss/buefy";